@model d_log.Models.Cuser


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    @{<script type="text/javascript">
        function id_check() {
            var id = document.getElementById('theID');//theID값을 받아와야 함.
            alert(id);
        }
    </script>}
    <style>
        .basic {
            border-width: 1px;
            border-style: solid;
            border-top-color: #dfdfdf;
            border-bottom-color: #dfdfdf;
            border-right-color: #dfdfdf;
            border-left-color: #dfdfdf;
            text-align:center;
        }

        input.b_style {
            background-color: black;
            width: 80px;
            height: 30px;
            color: white;
            border: none;
            text-align: center;
            display: inline-block;
            font-size: 17px;
        }

        input.t_style {
            border: none;
            text-decoration: none;
            color: #919191;
            font-family: 'Noto Sans CJK KR';
            font-size: 15pt;
        }

        input.t_style:focus {
                border: none;
                text-decoration: none;
                color: #919191;
                font-family: 'Noto Sans CJK KR';
                font-size: 15pt;
            }

        table {
            text-decoration: none;
            color: #919191;
            font-family: 'Noto Sans CJK KR';
            font-size: 15pt;
        }

        .n_border {
            border-color: white;
            text-decoration: none;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm("Join", "Home"))
    {
	<center>
        <h2>Sign Up</h2>
		<hr>
        <table border="1" class="basic" width = 350px height = 300px align = "center" style="word-wrap:break-word; word-break:break-all;">
            <tr>
                <td class="basic">
                    ID
                </td>
                <td>
                    @Html.TextBoxFor(x => x.theID, new { style = "width:150px;" })
                    <input type="button" value="중복 검사" id="button" class="b_style" onclick="id_check()" />

                </td>
            </tr>
            <tr>
                <td class="basic">
                    PW
                </td>
                <td>
                    @Html.TextBoxFor(x => x.thePW, new { style = "width:150px;", @type = "password" })

                </td>
            </tr>
            <tr>
                <td class="basic">
                    PW재확인
                </td>
                <td>
                    @Html.TextBoxFor(x => x.thePW2, new { style = "width:150px;", @type = "password" })
                    
                </td>
            </tr>
            <tr>
                <td class="basic">
                    NAME
                </td>
                <td>
                    @Html.TextBoxFor(x => x.theName, new { style = "width:150px;" })

                </td>
            </tr>
            <tr>
                <td class="basic">
                    E-Mail
                </td>
                <td>
                    @Html.TextBoxFor(x => x.theEmail, new { style = "width:150px;" })

                </td>
            </tr>
        </table><br>
        <input type="reset" value="취소" id="cancel" class="b_style"/>
        <input type="submit" value="회원가입" id="join" class="b_style">
		</center>

    }


</body>
</html>