@model d_log.Models.Cuser


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    @{<script type="text/javascript">
        function id_check() {
            var id = document.getElementById('theID');//theID값을 받아와야 함.
            alert(id);
        }
    </script>}
    <style>
    </style>
</head>
<body>
    @using (Html.BeginForm("Join", "Home"))
    {
        <h2>회원가입</h2>
        <table border="1">
            <tr>
                <td>
                    ID
                </td>
                <td>
                    @Html.TextBoxFor(x => x.theID, new { style = "width:150px;" })
                    <input type="button" value="중복 검사" onclick="id_check()" />

                </td>
            </tr>
            <tr>
                <td>
                    PW
                </td>
                <td>
                    @Html.TextBoxFor(x => x.thePW, new { style = "width:150px;", @type = "password" })

                </td>
            </tr>
            <tr>
                <td>
                    PW재확인
                </td>
                <td>
                    @Html.TextBoxFor(x => x.thePW2, new { style = "width:150px;", @type = "password" })
                    
                </td>
            </tr>
            <tr>
                <td>
                    NAME
                </td>
                <td>
                    @Html.TextBoxFor(x => x.theName, new { style = "width:150px;" })

                </td>
            </tr>
            <tr>
                <td>
                    E-Mail
                </td>
                <td>
                    @Html.TextBoxFor(x => x.theEmail, new { style = "width:150px;" })

                </td>
            </tr>
        </table>
        <input type="reset" value="취소" />
        <input type="submit" value="회원가입">


    }


</body>
</html>